body {
    font-family: Arial, sans-serif;
    background: url('library_background.jpg') center/cover fixed;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.book-container {
    text-align: center;
    max-width: auto;
    margin: 0 auto;
    margin-top: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1, h2, h3, h4 {
    color: #333;
}

.buttons {
    margin-top: 20px;
}

.admin-button, .user-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.admin-button:hover, .user-button:hover {
    background-color: #2980b9;
}

#clock {
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

#clock::before {
    content: '\1F551';
    font-size: 1em;
    margin-right: 5px;
}


.login-form {
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2980b9;
}

.redirect-message {
    margin-top: 20px;
    color: #555;
}

.registration-form {
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.register-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #27ae60;
}

.registration-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 400px;
    margin: 20px auto;
}

.registration-form label {
    text-align: left;
}

.register-button {
    grid-column: span 2;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.inventory-table th, .inventory-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.inventory-table th {
    background-color: #f2f2f2;
}

.logout-link {
    margin-top: 20px;
}

.logout-link a {
    color: #3498db;
    text-decoration: none;
}

.logout-link a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    max-height: 400px; /* Set the maximum height for the tbody, adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
    display: block;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: white;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: #dc3545;
}

.redirect-message {
    color: #6c757d;
}

.login-form {
    margin-top: 20px;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.logout-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}

.back-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.back-button:hover {
    background-color: #2980b9;
}

.admin-options {
    margin-top: 20px;
    text-align: center;
}

.admin-options button {
    background-color: #28a745;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
}

.admin-options button:hover {
    background-color: #218838;
}

.two-sides {
    display: flex;
    justify-content: space-between;
}

.left-side, .right-side {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.left-side {
    position: sticky;
    top: 0;
    padding-top: 20px;
    background-color: #f2f2f2;
    z-index: 1;
}

.right-side {
    background-color: #f2f2f2;
}

.filter-buttons {
    margin-bottom: 15px;
}

.filter-buttons button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: #0056b3;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049
}

.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dialog label {
    display: block;
    margin-bottom: 5px;
}

.dialog input,
.dialog select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.dialog button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.dialog button:hover {
    background-color: #2980b9;
}